content {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hidden {
  display: none;
}
.flipper {
  border: 1px black solid;
  width: 24%;
  margin: 0.2% 0.2%;
  height: 70px;
  text-align: center;
}
.back,
.front {
  height: 70px;
}
img {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 20px;
  margin: auto;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.flipper.flip {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 750px) {
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  content {
    max-width: 800px;
  }
  .flipper,
  .back,
  .front {
    width: 180px;
    height: 180px;
  }
}
/* entire container, keeps perspective */
/*.flip-container {
  perspective: 0;
}*/
/* flip the pane when hovered */
/*.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}*/

/*.flip-container,*/

/* flip speed goes here */
